body{
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	font-family: var(--font);
}
*{
	box-sizing: border-box;
}
:root{
	--bg-color: #E5E5E5;
	--font1: "Open Sans", sans-serif;
	--black1: #212121;
	--color1: #FF7E4A;
	--grey1: #868686;
	--font2: "Arial", sans-serif;
	--black2: #101010;
	--color2: #F6B100;
	--grey2: #939393;
}
.wrapper-banner{
	padding: 40px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	& + &{
		border-top: 2px solid #000;
	}
}
.banner{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px 24px; 
	background-color: #fff;
	&--variant1{
		max-width: 670px;
		color: var(--black1);
		font-family: var(--font1);
	}
	&--variant2{
		max-width: 640px;
		color: var(--black2);
		font-family: var(--font2);
		border-radius: 16px;
	}
	&__text{
		margin: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		&--line{
			text-decoration: line-through;
		}
		&--marked{
			font-weight: 700;
			color: var(--color1);
			&-variant2{
				color: var(--color2);}
		}
	}
	&__btn{
		text-align: center;
		border: none;
		font-size: 16px;
		line-height: 1.25;
		font-weight: 700;
		color: #fff;
		text-align: center;
		cursor: pointer;
		transition: 0.3s;
		outline: none;
		&:hover, &:focus{
			transform: scale(1.02);
		}
		&--variant1{
			padding: 12px 32px;
			background-color: var(--color1);
			box-shadow: 0px 6px 10px rgba(16, 17, 19, 0.1);
			border-radius: 22px;
		}
		&--variant2{
			padding: 14px 36px;
			background-color: var(--color2);
			box-shadow: none;
			border-radius: 8px;

		}
	}
	&__advertising{
		position: absolute;
		margin: 0;
		font-size: 12px;
		line-height: 1.6;
		&--variant1{
			top: -28px;
			right: 0;
			color: var(--grey1);
		}
		&--variant2{
			bottom: -28px;
			right: 0;
			color: var(--grey2);
		}
	}

}
@media (max-width: 768px) {
	.banner{
		flex-flow: column;
		width: 95%;
		&--variant1{
			max-width: 264px;
			padding: 16px 20px;
		}
		&--variant2{
			max-width: 296px;
			padding: 16px 12px;
			border-radius: 8px;
		}
		&__text{
			&--variant1{
				max-width: 80%;
				align-self: flex-start;
				margin-bottom: 16px;
				font-size: 14px;
				line-height: 1.4;
			}
			&--variant2{
				margin-bottom: 8px;
				font-size: 16px;
				line-height: 1.5;
				text-align: center;
			}
		}
		&__btn{
			&--variant1{
				padding: 10px 32px;

			}
			&--variant2{
				padding: 8px 24px;
			}

		}
		&__advertising{
			font-size: 12px;
			line-height: 1.6;
			&--variant1{
				top: -24px;
			}
			&--variant2{
				bottom: -24px;
			}
		}

	}
	
}
@media (max-width: 320px) {
	.banner{
		&__text{
			br{
				display: none;
			}
			&--variant1{
				max-width: 100%;
			}
		}
	}
}